/* aligments */

.right
{ 
	text-align : end; 
	text-anchor: end;
}


.center
{ 
	text-align :center; 
	text-anchor:middle;
}

.left
{ 
	text-align :start; 
	text-anchor:start;
}

/* head line */

.date {
	font-size : 22px;
}

.doy {
	font-size : 12px;
}

/* sun */

.sun {
	font-size:14px;
}

.temp-lbl {
	font-size :20px;
}

.temp {
	font-size:40px
}

.temp-unit {
	font-size :24px;
}

.footer {
	font-size:14px;
}

.line {
	stroke:#000000;
	stroke-width:2
}

rect {
	fill:#ffffff; 
	stroke:#000000; 
	stroke-width:1;
}

