/* aligments */

.right
{ 
	text-align : end; 
	text-anchor: end;
}


.center
{ 
	text-align :center; 
	text-anchor:middle;
}

.left
{ 
	text-align :start; 
	text-anchor:start;
}

/* head line */

text.date {
	font-size : 50px;
}

tspan.doy {
	font-size : 20px;
}

/* sun */

text.sun {
	font-size:20px;
}

text.temp-lbl {
	font-size :32px;
}

text.temp {
	font-size:88px
}

tspan.temp-unit {
	font-size :64px;
}

text.day-x {
	font-size : 32px;
}


text.temp-lbl-x {
	font-size :20px;
}

text.temp-x {
	font-size:58px
}

tspan.temp-unit-x {
	font-size :37px;
}

text.footer {
	font-size:18px;
}


rect {fill:#ffffff; stroke:#000000; stroke-width:1;}
/*
.today-temp-lbl {font-size:35px; text-align:start; text-anchor:start;}
.otherdays {font-size:32px; text-anchor:middle;}
.line {stroke:#000000; stroke-width:2; }
.temp-lbl {font-size:20px; text-align:start; text-anchor:start;}
*/
/* .temp {font-size:58px; text-anchor:end;} */

