# OS junk files
[Tt]humbs.db
*.DS_Store
*~

.idea
.env
*.iml
wunderground.sh

pids
logs
results

# exclude weather artefacts
public/weather/*/*/*.png
public/weather/*/*/*.svg

node_modules
npm-debug.log
vendor
tmp

